<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Welcome</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content style="background-color: red;">
  <div class="background"></div>
  <h1 class="title">Filter</h1>
  <div class="range">
    <h3 class="title_range">Range</h3>
    <br>
    <ion-range color="secondary" class="ion-range" aria-label="Range with pin" [pin]="true" [pinFormatter]="pinFormatter" min="0" max="40000"></ion-range>
  </div>
  <div class="price">
    <ion-list>
       <ion-item>
        <ion-select aria-label="Price" interface="popover" placeholder="Select your price" (ionChange)="handleChange($event)">
          <ion-select-option value="apples" *ngFor="let price of prices" [value]="price">{{price.name}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </div>
  <div class="catalog">
    <ion-content color="primary">
      <ion-list [inset]="true">
        <ion-item [button]="true" [detail]="false" id="select-fruits" color="secondary">
          <ion-label>Select Catalogs</ion-label>
          <div slot="end" id="selected-fruits">{{ selectedCatalogText }}</div>
        </ion-item>
      </ion-list>
    </ion-content>
    
    <ion-modal trigger="select-fruits" #modal>
      <ng-template>
        <app-typeahead
          class="ion-page"
          title="Select Catalogs"
          [items]="catalog"
          [selectedItems]="selectedCatalogs"
          (selectionChange)="catalogSelectionChanged($event)"
          (selectionCancel)="modal.dismiss()"
        ></app-typeahead>
      </ng-template>
    </ion-modal>
  </div>
  <div class="location">
    <h3 class="title">Location</h3>
    <ion-input class="input-location" placeholder="Write the location you want to search..."></ion-input>
  </div>
</ion-content>