<app-toolbar [backButton]="false"></app-toolbar>
<ion-content>
  <div class="welcome-container">
    <p class="hello-title">Hello <strong>{{user?.name}} {{user?.lastname}}</strong>!</p>
    <p class="day-title">Hoy, 21 de Mayo del 2024</p>
    <ion-button class="btn-edit" routerLink="/edit-info">
      Editar informacion
    </ion-button>
    <div class="img-container">
      <img class="img" [src]="user?.selfie" *ngIf="user?.selfie">
      <span class="material-symbols-rounded user_icon" *ngIf="!user?.selfie">
        account_circle
        </span>
    </div>
  </div>
  
  <div class="restaurants">
    <div class="search-container">
      <input type="text" placeholder="Search Restaurants & More..." (keydown.enter)="onEnter($event)">
      <ion-button expand="full" color="secondary" shape="round" fill="solid" (click)="onFilter()">
        <span class="material-symbols-rounded">
          tune
        </span>
      </ion-button>
    </div>
    <div class="restaurant-list">
      <app-restaurant-list [restaurants]="restaurants"></app-restaurant-list>
    </div>
  </div>
</ion-content>