// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/


:root {
    --ion-color-primary: #F1EFE7;
    --ion-color-secondary: #59738D;
    --ion-color-secondary-light: #94ACC4;
    --ion-color-terciary: #F5EAE3;
    --ion-color-white: #D9D9D9;
    --ion-color-black: #323232;

    // --background: var(--ion-color-primary);
    // --backgrund: red !important;
}