<app-toolbar [route]="'/home'"></app-toolbar>
<ion-header>
  <p class="title">Registrarme</p>
  <p class="description">Registrate para comenzar a utilizar Platvif! 🙌</p>
</ion-header>


<form class="form-data" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form">
    <input type="text" placeholder="Jhon" formControlName="name">
    <br>
    <input type="text" placeholder="Doe" formControlName="lastname">
    <br>
    <input type="email" placeholder="johndoe@mail.com" formControlName="mail">
    <br>
    <input type="password" placeholder="* * * *" formControlName="pass">
  
    <ion-button expand="full" color="secondary" shape="round" fill="solid" class="btn-create" type="submit">Crear cuenta</ion-button>
    </div>
  </form>