<app-toolbar [route]="'/reserve'" [backButton]="true"></app-toolbar>
<div class="header-info">
    <img [src]="restaurant?.image_url" class="cover">
    <div class="header-title">
        <div class="chips">
            <ion-chip [outline]="true" *ngFor="let chip of this.restaurant?.categories" class="chip">{{chip?.title}}</ion-chip>
        </div>
        <h3 class="title">{{restaurant?.name}}</h3>
        <p class="location">    
            <span class="material-symbols-rounded icon">
                location_on
            </span>{{restaurant?.location.address1}}, {{restaurant?.location.city}}, {{restaurant?.location.zip_code}}
        </p>
    </div>
</div>
<div class="items">
    <ion-grid [fixed]="true">
        <ion-row>
          <ion-col>
            <span class="material-symbols-rounded icon">
                schedule
            </span>
            <p class="title-item">{{start}}~{{end}}</p>
          </ion-col>
          <ion-col>
            <span class="material-symbols-rounded icon">
                payments
            </span>
            <p class="title-item">{{restaurant?.price}}</p>
          </ion-col>
          <ion-col>
            <span class="material-symbols-rounded icon">
                sports_motorsports
            </span>
            <p class="title-item">{{restaurant?.delivery || 'Delivery'}}</p>
          </ion-col>
          <ion-col class="menu">
            <span class="material-symbols-rounded">
                menu_book
            </span>
            <p class="title-item title-menu">Menu</p>
          </ion-col>
        </ion-row>
      </ion-grid>
</div>

<div class="map">
    <div id="map">

    </div>
</div>

<div class="btn_container">
    <ion-button color="secondary" (click)="onViewModal($event)">
        Reserve Now!
    </ion-button>
</div>