.header-info {
    position: absolute;
    width: 100%;
    height: 40%;

    .cover {
        position: absolute;
        width: 100%;
        height: 100%;
        mask-image: linear-gradient(
            black 85%,
            transparent
        );
    }
}